<!-- generic-form.component.html -->

<form [formGroup]="formOrganismo" (ngSubmit)="onSubmit()" class="mt-5">
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Nombre</label>
        <div class="col-sm-10">
            <input formControlName="nombre" type="text" class="form-control">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Contraseña</label>
        <div class="col-sm-10">
            <input formControlName="password" type="text" class="form-control">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Dirección</label>
        <div class="col-sm-10">
            <input formControlName="direccion" type="text" class="form-control">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Población</label>
        <div class="col-sm-10">
            <input formControlName="poblacion" type="number" class="form-control">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Código Postal</label>
        <div class="col-sm-10">
            <input formControlName="codigo_postal" type="number" class="form-control">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Teléfono</label>
        <div class="col-sm-10">
            <input formControlName="telefono" type="number" class="form-control">
        </div>
    </div>
    <div class="btn-group float-end" role="group">
        <button [disabled]="!formOrganismo.valid" type="submit" class="btn btn-primary">Crear Organismo</button>
        <a routerLink="/show" class="btn btn-outline-secondary">Cancelar</a>
    </div>
</form>
