/* dashboard-investigador.component.css */

.navbar-brand {
    color: #57927b;
    font-weight: bold;
}

.navbar-nav .nav-link {
    color: #57927b;
    font-weight: bold;
    font-size: 16px;
    margin-right: 10px;
}

.bg-body-tertiary {
    background-color: #2c3e50;
}

.container {
    margin-top: 50px;
}

.convocatorias-list .card {
    border: none;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.convocatorias-list .card-body {
    padding: 20px;
}

.convocatorias-list .card-title {
    font-weight: bold;
    color: #2c3e50;
}

.convocatorias-list .card-text {
    color: #555;
}

.btn-secondary {
    background-color: #bac1c5;
    
    color: #fff;
}

.btn-secondary:hover,
.btn-secondary:focus {
    background-color: #2980b9;
    border-color: #2980b9;
}

.btn-secondary:active {
    background-color: #3c4e5a;
    border-color: #91a9b9;
    box-shadow: none;
}

.btn-logout {
    background-color: #645f5b;
    border-color: #131212;
    color: #fff;
}

.btn-logout:hover,
.btn-logout:focus {
    background-color: #57927b;
    border-color: #57927b;
}

.btn-logout:active {
    background-color: #57927b;
    border-color: #57927b;
    box-shadow: none;
}

.noConvocatorias p {
    color: #555;
    font-style: italic;
}
