
<!-- show-area.component.html -->

<div class="container text-center">
    <div class="mt-4">
      <img src="/assets/espeLogo.png" width="250" alt="" />
      <h2>Gestión de Áreas</h2>
      <button type="button" class="btn btn-primary" routerLink="/principal">Regresar</button>
    </div>
    <div class="d-grid gap-2">
      <a routerLink="/createArea" class="btn btn-create" type="button">
        <fa-icon [icon]="faCirclePlus" [size]="'2x'"></fa-icon>
      </a>
    </div>
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr class="table-info">
            <th style="display: none">Id</th>
            <th>Nombre</th>
            <th>Departamentos</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let area of areas; let i = index">
            <td style="display: none">{{ area._id }}</td>
            <td>{{ area.nombre }}</td>
            <td>
              <ol>
                <li *ngFor="let departamentoId of area.departamentos">
                  {{ getDepartamentoById(departamentoId)?.nombre }}
                </li>
              </ol>
            </td>
            <td>
              <div class="btn-group">
                <a routerLink="/updateArea/{{ area._id }}" class="btn btn-edit">
                  <fa-icon [icon]="faPen"></fa-icon>
                </a>
                <button (click)="delete(area._id, i)" class="btn btn-delete">
                  <fa-icon [icon]="faTrash"></fa-icon>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
