<!-- login.component.html -->

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          Login
        </div>
        <div class="card-body">
          <form #loginForm="ngForm" (ngSubmit)="login()">
            <div class="mb-3">
              <label for="nombre" class="form-label">Nombre de usuario</label>
              <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="nombre" required>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Contraseña</label>
              <input type="password" class="form-control" id="password" name="password" [(ngModel)]="password" required>
            </div>
            <div class="mb-3">
              <label for="role" class="form-label">Rol</label>
              <select class="form-select" id="role" name="role" [(ngModel)]="role" required>
                <option value="investigadores">Investigador</option>
                <option value="organismos">Organismo</option>
                <option value="super-admin">Super Admin</option>
              </select>
            </div>
            <button type="submit" class="btn btn-primary">Iniciar sesión</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
