<body>
  <div class="circle">
      <h1 class="title">Gestión de Ficheros</h1>
      <a href="/show" class="section section1">Organismos</a>
      <a href="/showConvocatoria" class="section section2">Convocatorias</a>
      <a href="/showSolicitud" class="section section3">Solicitudes</a>
      <a href="/showInvestigador" class="section section4">Investigadores</a>
      <a href="/showGruposInvestigacion" class="section section5">Grupos Investigación</a>
      <a href="/showDepartamentos" class="section section6">Departamentos</a>
      <a href="/showAreas" class="section section7">Areas</a>
      <a href="/" class="section section8 btn-logout">Cerrar Sesión</a>
  </div>
</body>
s